@import url(https://fonts.googleapis.com/css?family=Poppins:400,500);

html {
font-size: 10px;
}
body {
background-color:#ffffff;
margin:0;
padding:0;
font-family:'Poppins', Century Gothic, sans-serif;
font-size: 1.2em;
color:#444;
min-width: 40em;
width: 80%;
max-width: 140em;
margin-left: auto;
margin-right: auto;
height: auto;
}

.header {
padding: 2em 2em 2em 2em;
}

.noOverflow{
overflow:hidden;
}

#splash{
margin: 24px;
}

#splashImage{
position: absolute;
left: 264px;
top:19px;
width:100%;
}

#splashImage img{
width: 50%;
}

#splash ul{
list-style-type:none;
padding: 0;
margin: 1.2em 2.4em;
position:absolute;
left:0;
top:0;
text-align:right;
font-size:2.4em;
}

.wrapper{
padding:3em 2.4em 2.4em 2.4em;
min-width:650px;
max-width:1200px;
margin: auto;
}

a:link{
text-decoration:none;
color:#743C28;
}
a:visited{
text-decoration:none;
color:#743C28;
}
a:hover{
text-decoration:none;
color:#5C2513;
}
a:active{
text-decoration:none;
color:#743C28;
}

ul.navigation a:link{
color:#666666;
}

ul.navigation a:visited{
color:#666666;
}

ul.navigation a:hover{
color:#8C5843;
}

ul.navigation a:active{
color:#666666;
}

img {
border-style: none;
margin: 0 0 12px 0;
}

/*Header Styles*/
.headerLeft{
width:268px;
float:left;
margin:0 2em 0 0;
font-family:"Poppins", Century Gothic, Sans-serif;
font-size:2.4em;
letter-spacing:.1em;
color:#A19D95;
text-align:right;
position: relative;
left: 6px;
}

div#header ul.navigation{ /*also for nav in body left column*/
font-family:"Poppins", Century Gothic, Sans-serif;
font-size:1.9em;
padding:0;
margin:0;
list-style-type:none;
font-variant: small-caps;
text-transform: lowercase;
}

div#header ul.navigation{
float:left;
margin:8px 0 0 0;
}

div#header ul.navigation li{
float:left;
padding: 0;
margin: 0;
}

a#currentSection{
color:#8C5843;
}

/*Body Styles*/
div#body{
clear:both;
padding: 24px 0 0 0;
}

/*Using negative margin layout as outlined at http://www.alistapart.com/articles/negativemargins/ */

/*Body Styles Right Column*/

dl.cv{
margin:0;
padding:0;
}

dl.cv dt{
float: left; 
clear: left; 
width: 48px;
text-align: left;
margin: 0;
padding: 0; 
}

dl.cv dd{
margin: 0 0 0 72px;
padding: 0 0 6px 0;
}

dl.cv dd ul{
list-style-type:none;
margin:0;
padding:0;
}

ul.bibliography{
list-style-type:none;
margin: 0;
padding: 0 0 0 2em;
text-indent: -2em;
}

ul.bibliography li{
margin-bottom: 6px;
}

div#rightColumn{
width:100%;
float:right;
margin-left:-268px;
}

div#content{
margin-left:304px;
max-width: 720px;
}

div#contentWide{
margin-left:304px;
}

img.center{
margin-left:auto;
margin-right:auto;
display:block;
}

h1{
font-family:"Poppins", Century Gothic, sans-serif;
font-size:24px;
font-weight:normal;
margin: -2px 0 12px 0;
color:#8C5843;
clear: both;
}

h2{
font-family:"Poppins", Century Gothic, sans-serif;
font-size:18px;
font-weight:normal;
margin: 0;
color:#8C5843;
clear:both;
}

div#content p{
margin: 0 0 12px 0;
padding: 0;
font-size: 15px;
text-align:justify;
}

/*720 width is to match Time Being frames */

blockquote{
font-size:14px;
margin: 0 0 0 36px;
max-width: 684px;
text-align:justify;
}

div#content p.attribution{
font-style:italic;
text-align:right;
font-size:14px;
margin: 0 0 12px 0;
}

div#content p.pressAttribution{
font-style:italic;
text-align:right;
font-size:16px;
margin: -12px 0 12px 0px;
}

span.drop {
color:#743C28;
display:inline;
float:left;
font-size:2.8em;
line-height:0.4em;
margin:0;
padding:0.25em 0.08em 0 0;
text-transform:capitalize;
}

table#films{ /*formatting for film list on films/index.html*/
margin-left: -136px;
border-spacing:0;
}

table#films td{
padding:0 0 12px 0;
}

table#films td:first-child{ /*film year*/
text-align:right;
vertical-align:bottom;
padding-right: 36px;
width: 100px;
font-family:"Poppins", Century Gothic, sans-serif;
font-size: 17px;
color:#666666;
}

table#films td:last-child{ /*film name and info*/
text-align:left;
vertical-align:bottom;
padding-left: 36px;
}

table#films td:last-child p:first-child{ /*film name*/
margin: 0;
padding: 0;
font-family:"Poppins", Century Gothic, sans-serif;
font-size: 20px;
color:#743C28;
}

table#films td:last-child p:last-child{ /*film info*/
margin: 0;
padding: 0;
font-family:"Poppins", Century Gothic, sans-serif;
font-size:14px;
}

table#films img{
margin:0;
}

table#credits td{
vertical-align:top;
padding:0 10px 12px 0;
}

ul#frames{
margin: 0;
padding: 0;
}

ul#frames li{
margin: 0 12px 0 0;
padding: 0;
float: left;
list-style-type:none;
width:143px;
height:120px;
}

ul#frames li p{
font-family:"Poppins", Century Gothic, sans-serif;
text-align:left;
font-size:15px;
line-height:16px;
margin-top:3px;
}

ul#frames li img{
margin: 0;
padding: 0;
}

ul#photos{
margin: 0;
padding: 0;
max-width:744px;
}

ul#photos li{
margin: 0 36px 36px 0;
padding: 0;
float: left;
list-style-type:none;
}

ul#photos li img{
margin: 0;
padding: 0;
}

ul.purchase {
clear:both;
margin:0;
padding:0;
}

ul.purchase li{
list-style-type:none;
float: left;
margin: 0 24px 12px 0;
padding: 0;
min-width: 180px;
}

ul#pressPhotos{
margin: 0;
padding: 0;
list-style-type: none;
}

ul#pressPhotos li{
float:left;
padding: 0;
margin: 0 30px 0 0;
}

ul#pressPhotos li.last{
margin: 0;
padding: 0;
}

ul#withinFrameNav {
list-style-type:none;
padding: 0;
margin:0;
}


ul#withinFrameNav li{
float:right;
margin: 0 0 12px 0;
}

ul#withinFrameNav li:first-child{
float:left;
}


/*Body Styles Left Column*/
div#leftColumn{
width:268px;
text-align:right;
float:left;
}

p#sectionTitle{
font-family:"Poppins", Century Gothic, sans-serif;
font-size:17px;
font-weight:bold;
color:#743C28;
margin:0 0 12px 0;
padding: 0;
letter-spacing:.2em;
position:relative;
left:4px;
}

p.pullQuote{
font-family:"Poppins", Century Gothic, sans-serif;
font-size:17px;
color:#666666;
margin: 60px 0 0 0;
}

a#currentPage{
color:#8C5843;
}

p.leftColumnText{
margin: 0 0 12px 0;
padding: 0;
font-size: 15px;
text-align:left;
}

ul.links{
margin: 0 0 0 24px;
padding: 0;
}

/*Footer Styles*/
div#footer{
clear:both;
width:100%;
text-align:center;
}

